@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--light: #f8f9fa;
--dark: #343a40;
}

*{
  padding: 0;  
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--white);
}

li{
    list-style: none;
}
/************* 3 2 0 p x  d e v i c e s ******************/

/*Navigation*/

.mob{
    display: none !important;
}

header{
    background-color:#131313;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 27px 0;
    border-bottom: 1px solid var(--orange);
}

.nav i{
    font-size: 25px;
    padding:100% 0;
}
.logo{
    width: 190px;
    padding-right: 20%;
}

.nav a{
    display: block;
    width: 15%;
}

/* Hero-Section*/

.hero-section{
    background: url(https://i.pinimg.com/originals/78/f2/f0/78f2f042957dfb86db9f437cca2aab09.gif);
    background-position: -81px -52%;
    color: var(--white);
    min-height: 650px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 8%;
    padding-top: 69%;
    padding-bottom: 10%;
}

.hero-content h3{
    font-size: 36px;
    font-weight: 400;
}

.h3-highlight{
    color: var(--yellow);
    font-size: 1em;
}

.hero-content p{
    font-size: 15px;
    line-height: 1.7;
}

.hero-para{
    padding:5% 0;
}

.read-more a{
    background-color: var(--yellow);
    color: black;
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 50px;
    font-weight: 500;
}

.read-more{
    padding: 5% 0;
    margin-bottom: 15%;
}

.hero-counts{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 130px;
}

.hero-counts a{
    background-color: var(--yellow);
    padding: 5px 5px;
    border-radius: 100px;
    color: black;
    margin-right: 5px;
}

.hero-counts .a2{
    background-color: #eee;
}

/* L A T E S T  N E W S */
.latest-box{
    display: flex;
    background-color: black;
}

.latest-title{
    display: none;
}

.scrolling-text{
    padding: 30px 0;
    color: var(--white);
}

.box{
    background-color: var(--green);
    padding: 5px 20px;
    font-size: 12px;
    margin: 0 15px;
    font-weight: bold;
}
.new-box{
    background-color: var(--pink);
}

.race-box{
    background-color: var(--blue);
}

.zombie-box{
    background-color: var(--red);
}

.block-wrapper{
    width: 90%;
    margin: 30% auto;
}

.news-block{
    background-color: rgba(0, 0, 0,0.5);
    min-height: 415px;
    padding: 1px 0;
    margin: 5% 0;
}

.news-text{
    margin: 0 20px;
    margin-top: 200px;
    padding-bottom: 2%;
}

.news-text h3{
    font-size: 20px;
    color: var(--white);
    line-height: 30px;
}

.news-text p{
    font-size: 14px;
    color: var(--white);
    line-height: 30px;
}

.comments{
    font-size: 12px !important;
    color: rgba(241, 234, 234, 0.575) !important;
}

.new-block{
    background-image: url('/images/background/batman.jpg') ;
    background-size: cover;

}

.strat-block{
    background-image: url('/images/background/far-cry.jpeg') ;
    background-size: cover;
}
.race-block{
    background-image: url('/images/background/valorant.jpg') ;
    background-size: cover;
}
.zombie-block{
    background-image: url('/images/background/witcher.jpg') ;
    background-size: cover;
}
 
.span-box{

    font-size: 15px;
    color:var(--white);
    font-weight: 500;
    margin: 15px 20px;

}
.new-box2{
    background-color: var(--pink);
    display: block;
    width: 40px;
    padding: 10px 20px;
}

.strat-box2{
    background-color: var(--green);
    display: block;
    width: 80px;
    padding: 10px 20px;
}

.race-box2{
    background-color: var(--purple);
    display: block;
    width: 60px;
    padding: 10px 20px;
}

.zombie-box2{
    background-color: var(--red);
    display: block;
    width: 60px;
    padding: 10px 20px;
}


/*Game Reviews*/
.recent-games{
    padding: 100px 0;
    background-color: #eef2f6;;

}
.recent-blocks{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.recent-block{
    width: 90%;
    background-color: white;
    margin: 10px 0;
}

.recent-block span{
    position: absolute;
}

.recent-content{
    text-align: center;
    margin-bottom: 50px;
}

.recent-span{
    padding: 8px 20px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;

}

.recent-content h3{
    margin: 10px 0;
    font-size: 35px;
    font-weight: 300;
}

.recent-new{
    background-color: var(--pink);
    padding: 8px 20px;
    margin: 20px;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.recent-block h3{
    font-size: 20px;
    font-weight:500;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 10px;
}

.recent-block p{
    font-size: 15px;
    font-weight:300;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    color: var(--gray);
}

.recent-block .comments{
    color: var(--gray-dark) !important;
}

.recent-race{
    background-color: var(--red);
    padding: 8px 20px;
    margin: 20px;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.recent-zombie{
    background-color: var(--success);
    padding: 8px 20px;
    margin: 20px;
    color: white;
    font-size: 12px;
    font-weight: 500;
}


/*Tournament Wrapper*/

.tournament-wrapper{
    background-image: url(https://preview.colorlib.com/theme/gamewarrior/img/pattern.png.webp);
    padding: 50px 0;
}

.tournament{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.premium{
    width: 90%;
    background-color:#252525;
    padding-top: 11px;
    margin-bottom:20%;
}

.tournaments-high{
    background-color: var(--orange);
    padding: 5px;
    margin-left: 10px;
    padding-left: 15px;
    color: var(--white);
    font-weight: 400;
    font-size: 15px;
    float: left;
    margin-right: 189px;

}
.premium-high{
    background-color: var(--yellow);
    padding:15px;
    padding-top: 15px;
    font-size: 12px;
    color: black;
    font-weight: 500;
}

.premium-img{
    margin: 50px 30px;
}

.premium-text{
    margin: 70px 30px;
    width: 90%;
}
.premium-text li{
    display: flex;
    line-height: 2;
}
.premium-text h3{
    font-size: 1.5em;
    font-weight: 500;
    color: var(--yellow);
    line-height: 3;
}

.premium-text h5{
    color: var(--gray);
    font-size: 0.8em;
    font-weight: 400;
}

.premium-text span{
    color: var(--white);
    font-size: 0.8em;
}

.prizes{
    color: var(--yellow) !important;
    font-size: 1em !important;
    line-height: 3;
}

/*Reviews*/

.reviews{
    margin: 50px 0;
    text-align: center;
}

.reviews .new-box{

    color: var(--white);
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 20px;
    line-height: 3;

}

.reviews h3{
    font-size: 2em;
    font-weight: 500;
}

.review-images{
    width: 90%;
    margin: 10% auto;
    padding:10px 0;
}

.review-images h3{
    font-size: 1.3em;
    line-height: 2;
}

.review-images p{
    font-size: 0.9em;
    line-height: 1;
    color: gray;
}

.review-games{

        margin: 30px 0;
}


.game-review{
    position: absolute;
    text-align: center;
    width: 50px;
    padding: 20px 5px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: bold;
    border-radius: 30px;
}

.review-wrapper{
    width: 90%;
    margin: 0 auto;
}

/*Footer*/
footer{
    text-align: center;
    padding: 10% 0;
    background-color: black;
    color: white;
}

.bottom-nav{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.navbar i{
    font-size: 1.2em;
}


/******* 3 6 0  d e v i c e s **********/

@media(min-width:360px){

    /*Tournament*/
    .tournaments-high{
        margin-right: 225px;
    }

    /*Footer*/
    footer{
        padding-bottom: 5px;
    }

}


